<h1>Cadastro de Cliente</h1>

<a href="/consulta">
    Listar Clientes
</a>

<form action="/cadastrar" method="POST">
    <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" name="nome" required id="nome" placeholder="Digite o nome">
    </div>
    <br>
    <div class="form-group">
        <label for="endereco">Endereço:</label>
        <input type="text" class="form-control"  name="endereco"  required id="endereco" placeholder="Digite o endereço">
    </div>
    <br>
    <div class="form-group">
        <label for="bairro">Bairro:</label>
        <input type="text" class="form-control" name="bairro"  required  id="bairro" placeholder="Digite o bairro">
    </div>
    <br>
    <div class="form-group">
        <label for="cep">CEP:</label>
        <input type="text" class="form-control" name="cep"  required  id="cep" placeholder="Digite o CEP">
    </div>
    <br>
    <div class="form-group">
        <label for="cidade">Cidade:</label>
        <input type="text" class="form-control" name="cidade"  required  id="cidade" placeholder="Digite a cidade">
    </div>
    <br>
    <div class="form-group">
        <label for="estado">Estado:</label>
        <input type="text" class="form-control"  name="estado" required  id="estado" placeholder="Digite o estado">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>